<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
<div class="container-fluid contruction">
  <div class="col-sm-12 text-center">
    <h1 class="logo page">LOGO</h1>
  </div>
</div>

<div class="container-fluid contruction">
  <h1 class="text-center page">PAGINA EN CONSTRUCCION</h1>

  <div class="col-sm-12 text-center">
    <span id="clock"></span>
  </div>

  <div class="col-sm-6 col-sm-offset-3 form-cont">
    <div class="col-sm-12 col-md-12">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control input-const" placeholder="Nombre">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control input-const" placeholder="Email">
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="form-group col-sm-12">
        <textarea name="" class="form-control input-const col-sm-12" rows="5" placeholder="Mensaje"></textarea>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <button type="button" class="btn btn-primary btn-block btn-const">Enviar</button>
    </div>
  </div>
</div>

