<div class="container-fluid">
	<section id='presentation'>
		<article id='image_logo' class='text-center' style='display:none'>
			<%= image_tag 'saltus-vector.png' %>
		</article>
	</section>
</div>