<div class="container-fluid" style='padding-top:50px'>
	<section id='presentation'>
		<article id='image_logo' class='text-center' style='display:none'>
			<%= image_tag '/logo_html5.png',:width=>'33%' %>
		</article>
	</section>
</div>