<tr class="nested-fields">
  <td><%= f.input_field :nombre, :url => autocomplete_academy_nombre_personas_path, :as => :autocomplete, :class=>'form-control'  %></td>
  <td><%= link_to_remove_association "Eliminar", f, :class=>'btn btn-danger' %></td>
</tr>