/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require font-awesome
 *= require jquery-ui
 *= require bootstrap-datepicker3
 *= require bootstrap-social
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 .alert{
 	text-align:center;
 	height: 20px;
 	line-height: 20px;
 	margin:0px!important;
 	padding:0px!important;
 }
 $blue-base:#023d7f;
 $red-hover:#bc0300;
 .navbar-inverse{
 	background-color: $blue-base;
 	border-radius:0px;
 	border:none;
 	.navbar-nav li a{
 		color:white;
 		:hover{
 			background-color:$red-hover;

 		}
 	}
 }
